ARC Not Waiting for Response Body

I have a server returning a normal response to a GET request.  When the server does not know the response body size prior to sending, it does not include the content-length header, which is allowed per RFC7230 section 3.3.2: "an origin server SHOULD send a Content-Length header field when the payload body size is known prior to sending the complete header section."
However, when the content-length header is missing, ARC does not wait for the body and immediately closes the connection whereas it should be waiting for the server to close the connection.
On a fast server, the response body may be sent so quickly that ARC receives the body before it has processed the headers and this problem isn't evident to the ARC user because ARC displays the received body.
On a slower server or network, the connection close occurs before ARC receives the body.  (Wireshark shows the TCP FIN sent out before the HTTP Continuation containing the body.)  This results in a TCP RST because data was received for a closed connection.  ARC does not receive (and, of course, does not display) the body.

## Expected outcome
When the content-length header is missing, the client should wait for the server to close the connection.  (RFC7230 section 3.3.3, item 7.)

## Actual outcome
When the content-length header is missing, ARC does not wait for the body and immediately closes the connection.

## Versions
App: 12.1.4
Platform: win32
Electron: 2.0.2
Chrome: 61.0.3163.100
V8: 6.1.534.41
Node: 8.9.3

## Steps to reproduce
1. Eliminate the content-length header from a server's response
2. Insert a delay (10-20ms) between the server sending the headers and the server sending the body.  (See the note above regarding fast versus slow servers.)
3. 

It's actually defined in 3.3.3 p. 7:

> Otherwise, this is a response message without a declared message
> body length, so the message body length is determined by the
> number of octets received prior to the server closing the
> connection.

In any case this is an issue with ARC's HTTP client. Thank you for pointing this out. I will fix it with next release.